p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: red;
}
div {
  width: 40%;
  height: auto;
  border: 2px solid #152349;
  border-radius: 5px;
}
#user {
  width: 50%;
  height: auto;
  border: 6px dotted green;
  border-radius: 20px;
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}
