table {
  color: #369;
  font-size: large;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #369;
  text-align: center;
}
thead {
  border: 1px solid #369;
}
div.empTable
{
  width : 50%;
  height : 100%;
  border : 4px solid #369;
  border-radius: 5px;
}
div.classBind
{
  width : 50%;
  height : 100%;
  border : 4px solid #369;
  border-radius: 5px;
}
.colorClass { color : #369; }
.italicClass { font-style : italic; }
.sizeClass { font-size : 50px; }