<div class="empTable">
  <h2 style="color : red">Concept of *ngFor Directive</h2>
<table>
<thead>
    <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Annual Salary</th>
        <th>Date of Birth</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor='let employee of employees' >
        <td>{{employee.code}}</td>
        <td>{{employee.name }}</td> <!-- Insert An Uppercase Pipe -->
        <td>{{employee.gender}}</td>
        <td>{{employee.annualSalary}}</td>
        <td>{{employee.dateOfBirth }}</td> <!-- Insert An date Pipe as well as uppercase -->
    </tr>
    <tr *ngIf="!employees || employees.length==0">
        <td colspan="5">
            No employees to display
        </td>
    </tr>
</tbody>
</table>
<button >Update Table</button>
</div>

<!-- **** Code for Class Binding ***** -->
<div class="classBind">
<h2 style="color : red">Concept of Class Binding</h2>
<h3 [ngClass]="addClasses()">Hello World</h3> 
<!-- ***** You can also use [class]="addClasses()" ***** -->
</div>