/* Add application styles & imports to this file! */
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';
* {
  box-sizing: border-box;
  margin: 2px;
  padding: 5px;
}
body {
  font-family: 'Quicksand', sans-serif;
}
